@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
}

/* 印刷時のスタイル */
@media print {
  .no-print {
    display: none !important;
  }

  body {
    background-color: white;
  }
}
